.background-img {
  background-color: black;
  background-image: url("./images/background-desert.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  /* cover - covers the entire container */
  background-size: cover;
  /* set the height of the background image to 100% of the available space */
  height: 100vh;
  width: 100vw;
  /* remove Boostrap container-fluid padding */
  padding: 0%;
  display: flex;
  /* center intems horizontally */
  justify-content: center;
  /* center items vertically */
  align-items: center;
  /* align the items inside of this parent class as a column from top to bottom */
  flex-direction: column;
}

.background-img > .start-btn {
  height: 7vh;
  font-size: 2vw;
}

.background-img > .home-title {
  font-family: fantasy;
  font-size: 8vw;
  font-weight: bold;
  /* remove default margin */
  margin-bottom: 0%;
}

#canvas-board {
  padding: 0%;
  display: flex;
}

#canvas-img {
  background-image: url("./images/desert-terrain1.jpg");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-repeat: repeat;
  background-size: auto;
  /* can also use 100%, depends on how it will working later, you can also try frames and use 100% when the broswer shrinks */
  height: 100vh;
  padding: 0%;
}

.score-board {
  /* height: 10vh;
  width: 100vw;  */
  display:flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  color:  black;
  position: absolute;
  top: 1%;
  padding: 0%;
}

.score, .timer, .goal, .health {
  font-size: 20px;
  font-weight: bold;
}

.character-select-modal {
  display: flex;
  justify-content: space-evenly;
  align-items: normal;
  /* align-self: center; */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.pause-btn {
  height: 5vh;
  position: absolute;
  align-self: flex-end;
}

.progress-bar {
  /* height: 20px; */
  /* all: unset !important;
  padding: 200px; */
  /* color: black; */
}